body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
}

#columnaDerecha {
    margin-top: 45px;
}

h1 {
    color: #388174;
    margin-top: 25px;
    margin-left: 25px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 400;
}

h2 {
    color: #388174;
    margin-left: 25px;
    font-size: 17px;
    font-weight: 400;
}

h3 {
    color: #388174;
    margin-top: 50px;
    margin-left: 25px;
    font-size: 20px;
    font-weight: 700;
}

h4 {
    color: #388174;
    margin-left: 25px;
    font-size: 17px;
    font-weight: 400;
}

::placeholder {
    color: #388174;
    line-height: 30px;
}

.bordes {
    border: 2px solid #388174;
    border-radius: 6px;
    outline: none;
}

#escribeMensaje {
    background-color: #ffffff;
    margin-left: 25px;
    max-width: 520px;
    min-width: 520px;
    max-height: 200px;
    min-height: 200px;
    font-size: 13px;
    color: #388174;
    padding-left: 10px;
    line-height: 30px;
}

#muestraMensaje {
    background-color: #f0f0f0;
    margin-left: 25px;
    max-width: 520px;
    min-width: 520px;
    max-height: 200px;
    min-height: 200px;
    font-size: 13px;
    color: #388174;
    padding-left: 10px;
    line-height: 30px;
}

#desplazamiento {
    margin-left: 25px;
    width: 520px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 13px;
    color: #388174;
    padding-left: 10px;
}

.botones {
    background-color: #388174;
    margin-left: 25px;
    width: 252px;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.3s;
    outline: none;
}

.botones:hover {
    background-color: #49c5b6;
}